@charset 'utf-8';
/* webfont */

/* reset */
html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
em,
img,
small,
strong,
b,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tr,
th,
td,
article,
aside,
footer,
header,
nav,
section,
summary,
video,
* {
    padding: 0;
    margin: 0;
}

html,
body {
    /* Prevent font scaling in landscape */

    -webkit-text-size-adjust: none;
    /*Chrome, Safari, newer versions of Opera*/

    -moz-text-size-adjust: none;
    /*Firefox*/

    -ms-text-size-adjust: none;
    /*Ie*/

    -o-text-size-adjust: none;
    /*old versions of Opera*/
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: "Pretendard Variable";
    font-size: 16px;
    font-weight: 400;
    color: #111;
}

#wrap {
    min-width: 1320px;
}





/* header */
#header {
    height: 88px;
    background-color: #68191e;
}

#header .inner_header {
    margin: 0 auto;
    width: 1320px;
    height: 88px;
    position: relative;
}

#header .logo {
    text-align: center;
    padding: 9px 42px 0px 0px;
}

#header .util {
    display: flex;
    position: absolute;
    right: 0;
    top: 34px;
}

#header .util li {
    padding-right: 35px;
}





/* nav */
#nav {
    height: 40px;
    background-color: #fff4e4;
    font-size: 18px;
    font-weight: 400;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    position: relative;
    top: 0;
    z-index: 999;
}

#nav .nav_inner {
    margin: 0 auto;
    width: 1320px;
}

#nav .gnb {
    display: flex;
    justify-content: center;
}

#nav .gnb li {
    padding: 10px 88px 0px 88px;

}

#nav .gnb li a:hover {
    color: #850f17;
}





/* footer */
#footer {
    height: 820px;
    margin: 0 auto;
    background-color: #111;
    color: #fff;
}

#footer .footer_inner {
    width: 1320px;
    height: 100%;
    margin: 0 auto;
    padding-top: 60px;
    box-sizing: border-box;
}

#footer .footer_inner h2 {
    font-family: Abhaya Libre ExtraBold;
    font-size: 55pt;
    color: #68191e;
}

#footer .footer_inner h3 {
    font-size: 26px;
    font-weight: 400;
    padding: 18px 0px 95px 0px;
}

#footer .footer_inner ul {
    display: flex;
    justify-content: space-between;
    padding-bottom: 110px;
}

#footer .footer_inner ul li {
    line-height: 25px;
}

#footer .footer_inner h4 {
    font-size: 22px;
    font-weight: 400;
}

#footer .footer_inner h5 {
    font-size: 16px;
    padding-top: 15px;
    font-weight: 300;
}

#footer .footer_inner h6 {
    font-size: 15px;
    font-weight: 300;
}

#footer .footer_inner button {
    margin-top: 20px;
    padding: 12px 20px;
    border-radius: 6px;
    font-size: 13px;
    cursor: pointer;
    font-size: 15px;
    border: 1px solid #fff;
    background-color: #4e4e4e;
    color: #fff;
}

#footer .footer_inner .button_r1, .button_r2{
    width: 270px;
    height: 40px;
}

#footer .footer_inner .button_r2{
    background-color: #111;
}

#footer .footer_inner p {
    text-align: center;
    line-height: 25px;
    font-weight: 300;
}

#footer .footer_inner .text_m {
    font-size: 13px;
}

#footer .footer_inner .text_s {
    font-size: 12px;
    padding-top: 20px;
}