@charset 'utf-8';
/* webfont */

/* reset */
html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
em,
img,
small,
strong,
b,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tr,
th,
td,
article,
aside,
footer,
header,
nav,
section,
summary,
video,
* {
    padding: 0;
    margin: 0;
}

html,
body {
    /* Prevent font scaling in landscape */

    -webkit-text-size-adjust: none;
    /*Chrome, Safari, newer versions of Opera*/

    -moz-text-size-adjust: none;
    /*Firefox*/

    -ms-text-size-adjust: none;
    /*Ie*/

    -o-text-size-adjust: none;
    /*old versions of Opera*/
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: "Pretendard Variable";
    font-size: 16px;
    font-weight: 400;
    color: #111;
}

#wrap {
    min-width: 1320px;
}





/* header */
#header {
    height: 88px;
    background-color: #68191e;
}

#header .inner_header {
    margin: 0 auto;
    width: 1320px;
    height: 88px;
    position: relative;
}

#header .logo {
    text-align: center;
    padding: 9px 42px 0px 0px;
}

#header .util {
    display: flex;
    position: absolute;
    right: 0;
    top: 34px;
}

#header .util li {
    padding-right: 35px;
}





/* nav */
#nav {
    height: 40px;
    background-color: #fff4e4;
    font-size: 18px;
    font-weight: 400;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    position: relative;
    top: 0;
    z-index: 999;
}

#nav .nav_inner {
    margin: 0 auto;
    width: 1320px;
}

#nav .gnb {
    display: flex;
    justify-content: center;
}

#nav .gnb li {
    padding: 10px 88px 0px 88px;

}

#nav .gnb li a:hover {
    color: #850f17;
}




/* container */



/* visual  */
#visual {
    display: flex;
    justify-content: center;
    height: 800px;
    overflow: hidden;
    position: relative;
}

#visual .swiper {
    height: 100%;
}

#visual .swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#visual.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#visual .swiper-scrollbar {

    &.swiper-scrollbar-horizontal,
    .swiper-horizontal>& {
        bottom: var(--swiper-scrollbar-bottom, 100px);
        height: var(--swiper-scrollbar-size, 10px);
        left: 50%;
        transform: translateX(-450px);
        position: relative;
        top: var(--swiper-scrollbar-top, auto);
        width: 900px;
        z-index: 50;
        opacity: 1 !important;
    }
}

#visual .swiper-scrollbar {
    background: var(--swiper-scrollbar-bg-color, #fff4e4);
    border: 2px solid #68191e;
    border-radius: var(--swiper-scrollbar-border-radius, 10px);
}

#visual .swiper-scrollbar-drag {
    background: var(--swiper-scrollbar-drag-bg-color, #68191e);
    border-radius: var(--swiper-scrollbar-border-radius, 10px);
    width: 33.3% !important;
}


#visual .swiper-horizontal {

    &.swiper-rtl .swiper-button-prev,
    &.swiper-rtl~.swiper-button-prev,
    &~.swiper-button-next,
    .swiper-button-next {
        right: 4px;
    }
}


#visual .swiper-button-next,
#visual .swiper-button-prev {
    color: #68191e;
}

#visual .swiper-button-next {
    margin-right: 150px;
}

#visual .swiper-button-prev {
    margin-left: 150px !important;
}







/* slogan */
#slogan {
    box-sizing: border-box;
    height: 750px;
    padding-top: 220px;
    text-align: center;
    font-size: 48px;
    font-weight: bold;
}

#slogan .slogan_red {
    color: #68181e;
}

#slogan .slogan1 {
    padding-bottom: 62px;
    color: #b4b4b4;
}

#slogan .slogan2 {
    padding-bottom: 15px;
    color: #666666;
}

#slogan .btn {
    margin-top: 80px;
    position: relative;
    overflow: hidden;
    width: 170px;
    height: 44px;
    border-radius: 26px;
    background-color: #fff4e4;
    border: 2px solid #68191e;
    font-size: 18px;
    font-family: Electrolize;
    font-weight: 600;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

/* 텍스트 레이어 */
#slogan .btn span {
    position: relative;
    z-index: 2;
    color: #68191e;
    transition: color 0.3s ease;
}

/* 채워지는 컬러 레이어 */
#slogan .btn::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background:#68191e;;
    transform: scaleY(0);
    transform-origin: bottom;
    transition: transform 1s ease;
    z-index: 1;
}

/* hover */
#slogan .btn:hover::before {
    transform: scaleY(1);
}

#slogan .btn:hover span {
    color: #fff;
}





/* video */
.main_video {
    margin: 0 auto;
    height: 1080px;
    background-color: #111;
}




/*new*/
#new {
    margin: 0 auto;
    height: 752px;
    box-sizing: border-box;
}

#new .new_inner {
    margin: 0 auto;
    width: 1320px;
    height: 100%;
    padding-top: 90px;
}

#new .new_inner .title {
    color: #68191e;
    font-size: 40px;
}

#new .new_inner .sub_title {
    color: #68191e;
    font-size: 30px;
    font-weight: 500;
    padding-top: 10px;
}

#new .new_slide {
    height: 430px;
    position: relative;
    box-sizing: border-box;
}

#new .new_slide .swiper {
    width: 100%;
    height: 100%;
    padding-top: 40px;
}

#new .new_slide .swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* slide img */
#new .brow_slide {
    width: 294px;
}

#new .cover_wrap {
    height: 294px;
    position: relative;
}

#new .cover {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.5s;
}

#new .cover:hover {
    opacity: 1;
}

#new .cover img {
    border: 2px solid #68191e;
}

#new .cover_box {
    background-color: #68191e;
    width: 95px;
    height: 26px;
    color: #fff4e4;
    position: absolute;
    left: 0;
    top: -26px;
    border-radius: 5px 5px 0px 0px;
}

#new .cover_box p {
    padding-top: 4px;
}

#new .new_slide .swiper-button-next {
    margin-right: -100px;
    color: #68191e;
}

#new .new_slide .swiper-button-prev {
    margin-left: -100px;
    color: #68191e;
}

#new .new_slide .swiper-button-next,
#new .new_slide .swiper-button-prev {
    svg {
        height: 50%;
    }
}

#new .new_slide_text h3 {
    font-size: 18px;
    font-weight: 500;
    padding-top: 19px;
}

#new .new_slide_text h4 {
    font-size: 13px;
    font-weight: 400;
    padding-top: 17px;
    color: #6C6B6B;
}

#new .new_slide_text h5 {
    font-size: 13px;
    font-weight: 400;
    padding-top: 5px;
    color: #6C6B6B;
}




/* sub_banner */
#sub_banner {
    margin: 0 auto;
    width: 1370px;
    height: 700px;
    text-align: left;
    position: relative;
}

#sub_banner p{
 position: absolute;
 bottom: 30px;
 left: 45px;
 font-size: 12px;
 line-height: 17px;
 color: #4f6077;
}




/* color mixer */
#color_mixer {
    margin: 0 auto;
    width: 1320px;
    height: 800px;
}

#color_mixer .sub_title {
    color: #68191e;
    font-size: 30px;
    font-weight: 500;
    padding-top: 75px;
}

#color_mixer #tab {
    width: 1320px;
    margin-top: 40px;
    height: 580px;
}

#color_mixer .board {
    display: flex;
    position: relative;
}

#color_mixer .board li {
    width: 290px;
}

#color_mixer .board>li>a {
    /* 사용자가 누르지 않은 tab */
    display: block;
    width: 270px;
    margin-top: 5px;
    padding: 10px 0;
    background-color: #68191e;
    color: #fff4e4;
    text-align: center;
    border-radius: 10px 10px 0 0;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25) inset;
}

#color_mixer .board>li.on>a {
    /* 사용자가 누른 tab */
    width: 270px;
    height: 40px;
    margin-top: -10px;
    padding: 15px 0;
    background-color: #fff4e4;
    color: #68191e;
    border: 2px solid #68191e;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

#color_mixer .board>li>div {
    /* 사용자가 누르지 않은 tab */
    height: 0;
    overflow: hidden;
}

#color_mixer .board>li.on>div {
    /* 사용자가 누른 tab */
    position: absolute;
    top: 44px;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    height: 530px;
    background-color: #fff4e4;
}

#color_mixer .other_tab {
    display: flex;
    justify-content: space-between;
}

/* box 꾸며주기 */
#color_mixer .flex {
    display: flex;
    justify-content: space-between;
}

#color_mixer .text {
    width: 470px;
    height: 215px;
}

#color_mixer .text_box {
    width: 465px;
    height: 220px;
    display: flex;
    justify-content: space-between;
    color: #68191e;
    margin: 155px 97.5px;
}

#color_mixer .text_box .box {
    width: 338px;
    height: 216px;

}

#color_mixer .text_box .box p {
    width: 338px;
    height: 116px;
    line-height: 1.4em;
}

#color_mixer .text_box .img {
    width: 220px;
    height: 115px;
}




#color_mixer .text_box h4 {
    font-size: 20px;
    font-weight: 600;
}

#color_mixer .text_box p {
    padding-top: 20px;
    font-size: 14px;
    font-weight: 400;
}

#color_mixer .text_box .box a {
    margin-top: 30px;
    width: 195px;
    height: 40px;
    background-color: #68191e;
    color: #fff4e4;
    font-size: 18px;
    font-family: Electrolize;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 9px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}




/*review*/


#review {
    height: 800px;
    margin: 0 auto;
}

#review .review_inner {
    width: 1320px;
    height: 607px;
    margin: 0 auto;
}

#review .review_inner .sub_title {
    color: #68191e;
    font-size: 30px;
    font-weight: 500;
    box-sizing: border-box;
    padding: 10px 0px 50px 0px;
}

#review .swiper {
    width: 100%;
    height: 100%;
}

#review .swiper-slide img {
    width: 314px;
    height: 351px;
}

#review .swiper-slide p {
    width: 314px;
    height: 100px;
    padding-top: 17px;
    text-align: left;
    color: #404040;
}

#review .swiper-slide .star {
    width: 230px;
    height: 22px;
    position: absolute;
    top: 350px;
    left: 0;
}

#review .swiper-slide .star img {
    width: 100%;
}

:root {
    --swiper-theme-color: #850f17;
}




/* footer */
#footer {
    height: 820px;
    margin: 0 auto;
    background-color: #111;
    color: #fff;
}

#footer .footer_inner {
    width: 1320px;
    height: 100%;
    margin: 0 auto;
    padding-top: 60px;
    box-sizing: border-box;
}

#footer .footer_inner h2 {
    font-family: Abhaya Libre ExtraBold;
    font-size: 55pt;
    color: #68191e;
}

#footer .footer_inner h3 {
    font-size: 26px;
    font-weight: 400;
    padding: 18px 0px 95px 0px;
}

#footer .footer_inner ul {
    display: flex;
    justify-content: space-between;
    padding-bottom: 110px;
}

#footer .footer_inner ul li {
    line-height: 25px;
}

#footer .footer_inner h4 {
    font-size: 22px;
    font-weight: 400;
}

#footer .footer_inner h5 {
    font-size: 16px;
    padding-top: 15px;
    font-weight: 300;
}

#footer .footer_inner h6 {
    font-size: 15px;
    font-weight: 300;
}

#footer .footer_inner button {
    margin-top: 20px;
    padding: 12px 20px;
    border-radius: 6px;
    font-size: 13px;
    cursor: pointer;
    font-size: 15px;
    border: 1px solid #fff;
    background-color: #4e4e4e;
    color: #fff;
}

#footer .footer_inner .button_r1, .button_r2{
    width: 270px;
    height: 40px;
}

#footer .footer_inner .button_r2{
    background-color: #111;
}

#footer .footer_inner p {
    text-align: center;
    line-height: 25px;
    font-weight: 300;
}

#footer .footer_inner .text_m {
    font-size: 13px;
}

#footer .footer_inner .text_s {
    font-size: 12px;
    padding-top: 20px;
}